<!doctype html>
<html lang="en">
<head>
    <title>{{ challenge.commits_to_make }} Commits Challenge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style type="text/css">
.bar-step {
    position:absolute;
    margin-top:-20px;
	z-index:1;
    font-size:12px;
}

.label-txt {
    float: left;
}

.label-line {
    position: absolute;
    float: right;
    background: #000;
    height: 40px;
    width: 1px;
}

.label-line-description {
    position: absolute;
    font-size: 8px;
    right: 105%;
    width: max-content;
}

.label-percent {
    float: right;
    margin-left: 5px;
}
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <p>Days left</p>
            </div>
            <div class="col-sm">
                <p>{{ (challenge.end - challenge.today).days }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <p>Commits left</p>
            </div>
            <div class="col-sm">
                <p>{{ challenge.commits_to_make - challenge.commits_done }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <p>Difference</p>
            </div>
            <div class="col-sm">
                {% if challenge.commit_difference > 0 %}
                <p>+{{ challenge.commit_difference }}</p>
                {% else %}
                <p>{{ challenge.commit_difference }}</p>
                {% endif %}
            </div>
        </div>
        <div class="row"><br>
            <div class="col-sm">
                <div style="position: relative; height: 50px;">
                    <div class="progress" style="position: absolute; width: 100%; top: 20px;">
                        <div id="progress_percentage_bar" class="progress-bar progress-bar-success" style="width: {{ challenge.progress_percentage|int }}%;">
                            {{ challenge.progress_percentage|int }}%
                        </div>
                    </div>

                    <div id="expected_progress_percentage_bar" class="label-line" style="left: {{challenge.expected_progress_percentage|int}}%">
                        <span class="label-line-description">
                          {{ challenge.expected_commit_count }} commits - {{ challenge.expected_progress_percentage|int }}%
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <div class="row">
            <div class="col-sm">
                <label for="progress_percentage_slider">Progress percentage</label>
                <input type="range" min="0" max="100" value="24" class="slider" id="progress_percentage_slider">
                <br />
                <label for="expected_progress_percentage_slider">Expected progress percentage</label>
                <input type="range" min="0" max="100" value="24" class="slider" id="expected_progress_percentage_slider">
            </div>
        </div>
        -->
    </div>
    <!--
    <script type="text/javascript">
        $(document).ready(function() {
            var progress_percentage_slider = document.getElementById("progress_percentage_slider");
            var progress_percentage_bar = document.getElementById("progress_percentage_bar");
            progress_percentage_slider.oninput = function() {
                $('#progress_percentage_bar').css('width', this.value + "%");
                progress_percentage_bar.innerHTML = this.value + "%";
            }

            var expected_progress_percentage_slider = document.getElementById("expected_progress_percentage_slider");
            var expected_progress_percentage_bar = document.getElementById("expected_progress_percentage_bar");
            expected_progress_percentage_slider.oninput = function() {
                $('#expected_progress_percentage_bar').css('left', this.value + "%");
                //expected_progress_percentage_bar.innerHTML = this.value + "%";
            }
        });
    </script>
    -->
</body>
</html>
