{% extends "base.jinja2.html" %}
{% block content %}
        <div class="row">
            <div class="col text-right">
                <p>Days to start</p>
            </div>
            <div class="col">
                <p> {{ -challenge.days_from_start }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                <p>Required commit count</p>
            </div>
            <div class="col">
                <p>{{ challenge.required_commit_count }}</p>
            </div>
        </div>
{% endblock content %}
